// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
$default-font: 'Roboto', sans-serif;

// Colors
$default-background-color: #FFFFFF;
$default-nav-background-color: #020203;
$secondary-background-color: #FBFBFB; //#FBFBFB #ff8ef5
$default-font-color: #000000;
$secondary-font-color: #74798C;
$nav-title-color: #FFFFFF;
$main-color: #FF0101;
$main-graphic-color: #FF0000;
$secondary-graphic-color: #282D30;

// Layout
$header-height: 91px; // Hauteur du Header
$sidebar-width: 117px; // Largeur de la Sidebar
